/*Search*/
input[type="text"] {
    border: none;
    border-color: transparent;
}

span#launch-search {
    border: none;
}

#search-input {
    background-color: #e9ecef;
}

n*/
.btn {
	padding: 1.25rem;
	font-weight: 500;
}

.bg-primary input[type="text"] {
    color: white;
}

.btn.bg-green, .bg-green input[type="text"] {
    background-color: #00dca9;
    color: white;
}

.btn.bg-green:hover {
    background-color: #00a881;
    color: white;
}

.btn.bg-orange, .bg-orange input[type="text"] {
	background-color: #ff5a47;
	color: white;
}

.btn.bg-orange:hover {
    background-color: #ff2c14;
    color: white;
}

/*Card*/